@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "bootstrap/scss/bootstrap";


a{
    text-decoration: none;
}

//Form
.form-control:focus{
    box-shadow: 0 0 0 0.25rem #ffc107;
    border-color: #014b0d;
}


.form-check-input:checked{
    background-color: #ffc107;
    color: #ffc107;
    border-color: #014b0d;
}
.form-check-input:focus{
    box-shadow: 0 0 0 0.25rem #ffc107;
    border-color: #014b0d;
}